@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
.marker {
    position: absolute;
    height: 32px;
    width: 32px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, .35),
        0px 1px 3px rgba(0, 0, 0, .5),
        inset 0px .5px 0px rgba(255, 255, 255, .08),
        inset 0px 0px .5px rgba(255, 255, 255, .3);
    border-radius: 16px 16px 16px 0;
    background-color: #0c8ce9;
}

.marker:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s;
}

.comment-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.messages-list {
    padding: 16px;
    background-color: #2c2c2c;
    color: #fff;
}

.input {
    background-color: #2c2c2c;
    padding: 8px 16px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-left: 16px;
    color: #fff;
    width: 94%;
}

.toolbar {
    background-color: #2c2c2c;
    padding: 8px 16px;
    border-top: 1px solid #efefef;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-left: 16px;
}

.toolbar button {
    background-color: #0c8ce9;
    color: #fff;
    border-radius: 6px;
    padding: 2px 6px;
}
